header{
    position: relative;
    min-height: 100vh;
    background-image: url(../images/leaf.png);
    background-position: left center;
    background-size: 12.5%;
    background-repeat: no-repeat;
}
.header__image{
    position: absolute;
    top: 0;
    right: 0;
    width: 43.5%;
}
.header__top{
    display: flex;
    align-items: baseline;
    padding-top: 2rem;
}
.header__logo{
    max-width: 14rem;
}
.menu{
    margin-left: 14%;
}
.menu__list{
    display: flex;
    align-items: center;
}
.menu__item{
    margin: 0 2.5rem;
    z-index: 2;
}
.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 1.2rem;
    font-weight: bold;
    transition: color .25s linear;
}
.menu__link:hover{
    color: var(--primary-color);
}
.header__content{
    display: flex;
    flex-direction: column;
    padding-top: 19rem;
    max-width: 55.5rem;
}
.header__content-top{
    display: flex;
    flex-direction: column;
}
.header__content-slogan{
    font-size: 2rem;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.header__content-title{
    font-size: 6rem;
    font-weight: 400;
    font-family: var(--secondary-font);
    margin-bottom: 3rem;
    color: var(--gray-dark);
}
.header__content-desc{
    font-size: 1.5rem;
    color: var(--gray-dark);
    margin-bottom: 5rem;
}
.header__content-cta{
    display: flex;
    align-items: center;
}
.header__content-cta > a:first-child{
    margin-right: 5rem;
}
.btn__play-video{
    display: flex;
    align-items: center;
}
.btn__play-video > i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: var(--bg-block);
    color: var(--primary-color);
}
.btn__play-video > span{
    color: var(--gray-dark);
    font-size: 1.5rem;
}
.btn{
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    font-family: var(--primary-font);
    border: 0;
    outline: none;
}
.btn--primary{
    background-color: var(--primary-color);
}
.btn--rounded{
    border-radius: 5rem;
}
.btn--icon > i{
    margin-left: 2rem;
}
.menu__collapse{
    position: absolute;
    font-size: 3rem;
    top: 5rem;
    right: 5rem;
    color: var(--primary-color);
    display: none;
}
@media screen and (max-width: 767px) {
    .header__top {
        justify-content: space-between;
    }
    .menu, .header__image{
        display: none;
    }
    .menu__collapse{
        display: block;
    }
    .header__content{
        padding-top: 7rem;
    }
    .header__content-title{
        font-size: 4rem;
    }
    .header__content-cta{
        align-items: flex-start;
        flex-direction: column;
    }
    .header__content-cta > a:first-child{
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
}
.about{
    padding: 6rem 0;
}
.about__inner{
    padding: 14rem 0rem;
    position: relative;
}
@media screen and (max-width: 767px) {
    .about__inner {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .about__heading-desc{
        padding: 0 1.5rem;
    }
}
.about__flower1{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 13.5rem;
}
.about__flower2{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 7rem;
}
.about__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about__content-logo{
    margin-bottom: 3rem;
}
.about__content-title{
    font-size: 1.5rem;
    color: var(--gray-light);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
}
.about__heading{
    text-align: center;
    max-width: 60rem;
}
.about__heading-title{
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--secondary-font);
    margin-bottom: 4rem;
}
.about__heading-desc{
    line-height: 1.8;
    font-size: 1.2rem;
    color: var(--gray-light);
    margin-bottom: 5rem;
}

.about__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.about__item {
    width: 24.8%;
    position: relative;
    cursor: pointer;
}
.about__item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1023px) {
    .about__item {
        width: 49.6%;
    }
}
@media screen and (max-width: 767px) {
    .about__item {
        width: 100%;
    }
}
.about__item-content > img {
    max-width: 5rem;
    margin-bottom: 1rem;
}
.about__item-content > span {
    font-size: 2.2rem;
    font-weight: bold;
}
.about__item-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--secondary-font);
    color: white;
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear, visibility .2s linear;
}
.about__item:hover > .about__item-content{
    visibility: visible;
    opacity: 1;
}

.heading{
    padding: 4rem 0;
    text-align: center;
}
.heading h2{
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--gray-dark);
    margin-bottom: 3rem;
}
.heading p{
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--gray-light);
    margin-bottom: 3rem;
}

.btn--secondary {
    background-color: var(--gray-dark);
}
.popular {
    background-color: #fff;
    padding-top: 14rem;
    padding-bottom: 14rem;
}
/*.popular__list{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/
/*.popular__item{*/
/*    width: calc(33.33% - 13.33px);*/
/*    border: 1px solid #eee;*/
/*}*/
/*.popular__link{*/
/*    height: 100%;*/
/*    display: block;*/
/*    padding: 2rem 2rem 4.5rem;*/
/*    text-align: center;*/
/*    transition: box-shadow 0.2s linear;*/
/*}*/
/*.popular__link .title{*/
/*    margin: 1.5rem 0;*/
/*    color: var(--gray-dark);*/
/*    font-size: 1.5rem;*/
/*    font-family: var(--secondary-font);*/
/*    font-weight: 400;*/
/*}*/
/*.popular__link .desc{*/
/*    margin-bottom: 4rem;*/
/*    color: var(--gray-light);*/
/*    font-family: var(--secondary-font);*/
/*    line-height: 2;*/
/*}*/
/*.popular__link img {*/
/*    width: 100%;*/
/*    height: 26.5rem;*/
/*    object-fit: cover;*/
/*}*/
/*.popular__link:hover {*/
/*    box-shadow: 0 0 14px 14px rgba(0, 0, 0, 0.025);*/
/*}*/
/*.popular__link:hover .btn--secondary {*/
/*    background-color: var(--primary-color);*/
/*}*/
/*@media screen and (max-width: 767px) {*/
/*    .popular__item {*/
/*        width: 100%;*/
/*        margin-bottom: 2.5rem;*/
/*    }*/
/*}*/
.popular__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular__item{
    margin-bottom: 1rem;
    width: calc(33.333% - 13.33px);
    border: 1px solid #eee;
}
.popular__link{
    text-align: center;
    padding: 2rem 2rem 4.5rem;
    display: block;
    height: 100%;
    transition: box-shadow 0.2s linear;
}
.popular__link > img{
    height: 26.5rem;
    width: 100%;
    object-fit: cover;
}
.popular__link .title{
    margin: 3rem 0;
    color: var(--gray-dark);
    font-family: var(--secondary-font);
    font-size: 2.2rem;
}
.popular__item .desc{
    margin-bottom: 3rem;
    color: var(--gray-light);
    font-size: 1.2rem;
    line-height: 2;
}
.popular__link:hover{
    box-shadow: 0px 0px 14px 14px rgba(0, 0, 0, 0.025);
}
.popular__link:hover .btn--secondary {
    background-color: var(--primary-color);
}
@media screen and (max-width: 767px){
    .popular__item{
        width: 100%;
    }
}
