header{
    position: relative;
    min-height: 100vh;
    background-image: url(../images/leaf.png);
    background-position: left center;
    background-size: 12.5%;
    background-repeat: no-repeat;
}
.header__image{
    position: absolute;
    top: 0;
    right: 0;
    width: 43.5%;
}
.header__top{
    display: flex;
    align-items: baseline;
    padding-top: 2rem;
}
.header__logo{
    max-width: 14rem;
}
.menu{
    margin-left: 14%;
}
.menu__list{
    display: flex;
    align-items: center;
}
.menu__item{
    margin: 0 2.5rem;
}
.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 1.2rem;
    font-weight: bold;
    transition: color .25s linear;
}
.menu__link:hover{
    color: var(--primary-color);
}
